<div>
    <tr>
        <td class="text-right">
            <button (click)="addExclusion()">Add</button>
        </td>
        <td class="td-spacer"></td>
        <td>
            <input type="text" name="currentInput" [(ngModel)]="currentInput" />
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-size: 0.8em;">Excluded Foods:</span>
        </td>
        <td class="td-spacer"></td>
        <td>
            <span *ngFor="let ingredient of ingredients">
                <app-excluded-ingredient [ingredient]="ingredient" (removeIngredient)="removeIngredient($event)"></app-excluded-ingredient>
            </span>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="text-right">
            <button (click)="startGeneticAlgorith()">Start</button>
        </td>
        <td></td>
        <td></td>
    </tr>
</div>

<h2>Initial price: ${{initialPrice.toFixed(2)}}</h2>
<h2>Best price: ${{weeklyMeal.price.toFixed(2)}}</h2>
<app-daily-meal [meals]="weeklyMeal.aDaysMeal"></app-daily-meal>
